.form_wrapper{
    display : flex;
    flex-direction: column;
    justify-content: center;
}
.form_input {
    border : none;
    padding : 5px;
    margin-bottom : 7px;
    border-radius : 5px;
}
.num {
    width : 50px;
    margin : auto;
    text-align: center;
}
.flex-b {
    display         :flex;
    flex-direction  :column;
}

/* Params Grid */
.msg{       grid-area : msg ;}
.g-info{    grid-area : info ;}
.g-address{ grid-area : ad ;}
.g-ids{     grid-area : ids ;}
.g-btn{     grid-area : bt ;}


/* Phones */
@media screen and (min-width: 300px){
    .form_wrapper {
        max-width   : 250px;
        margin      : auto;
    }
}
/* iPads,Tablets */
@media screen and (min-width: 480px){
    .form_wrapper {
        max-width   : 300px;
        margin      : auto;
    }
}
/* Small screens, laptops */
@media screen and (min-width: 769px){
    .form_wrapper {
        max-width   : 350px;
        margin      : auto;
    }
}
/* Large screens, desktops */
@media screen and (min-width: 1025px){
    .form_wrapper {
        max-width   : 375px;
        margin      : auto;
    }
}
/* Extra screens */
@media screen and (min-width: 1281px){
    .form_wrapper {
        max-width   : 500px;
        margin      : auto;
        display     : grid;
        grid-template-areas: ".     ad"
                             "info  ad" 
                             "ids   ids"
                             "msg   msg"
                             "bt    bt";
    }
    .flex-b {
        justify-content: flex-end;
    }
    .g-info{  
        margin-right :20px;
    }
    .g-address{ 
        margin-left :20px;
    }
}
